# environment variables for focuser-server

# Mongo settings
MONGO_URL=mongodb://localhost:27017
DB_NAME=focuser

# security
SECRET_KEY=replace-this-with-a-secret

PORT=4000
ALLOWED_ORIGINS=

MAIL_USERNAME=
MAIL_PASSWORD=